:root {
    --primary-color: #F7F2EB;
    --secondary-color: #081F5C;
    --tertiary-color: #BAD6EB;
    --background-color: #334EAC;
    --border-radius: 4px;
    --list-name: 18px;
    --text-action: 14px;
    --text-regular: 16px;
}